@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');


* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #eeeeee;
}

.wrap {
  width: 960px;
  margin: 0 auto;
}

h2 {
  margin: 5% 0 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid #333;
  color: #3c71e4;

}

p {
  color: #555;
  padding: 1% 0;
}

button {
  padding: 1% 5%;
  background-color: #3c71e4;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-top: 1%;
  cursor: pointer;
  outline: none;

  &:hover {
    background: darken(#3c71e4, 10%);
  }
}

.btn_yahoo,
.btn_john {
  margin-left: 1%;
}